.backgroundImage2 {
  background-image: url("../assets/backgroundImage.jpg");
  min-height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.AllUsers {
  text-align: center;
  margin-top: 1%;
  font-size: 80px;
}

table {
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
th {
  border: 1px solid var(--primary-500);
  border-radius: 10px 10px 0px 0px;
  background-color: var(--primary-500);
  color: var(--primary-600);
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 10%;
}

td {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ddbb95;
  padding: 10px 0;
  font-weight: bold;
  color: var(--primary-500);
}
th:first-child {
  background-color: white;
  border: none;
}
.iconn {
  margin-top: 10px;
  font-size: 200%;
  color: var(--primary-500);
}
.del {
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}
.input {
  width: 100%;
  padding-left: 0px !important;
  height: 100%;
}
.add {
  border-radius: 10px;
  background-color: green;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
th:first-child {
  background-color: transparent;
}
.edit,
.del {
  color: white;
}
