.backgroundImage {
  background-image: url("../assets/backgroundImage.jpg");
  min-height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.box {
  border: 1px solid var(--primary-500);
  background-color: var(--primary-500);
  color: var(--primary-600);
  padding: 80px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 20px;
  min-width: 80px;
  text-align: center;
}
.box:hover {
  background-color: var(--primary-600);
  color: var(--primary-500);
}

.flex {
  display: flex;
  flex-direction: column;
}

.info {
  text-align: center;
  color: var(--primary-500);
  font-weight: bold;
  font-size: large;
  margin: 1%;
}
